@using System
@using System.Threading.Tasks
@using Domain
@inherits Microsoft.AspNetCore.Components.OwningComponentBase

<h1>My tasks</h1>
<div>
    <div>
        <input type="text" @bind="@_newTask.Name"/>
        <button @onclick="AddTask">Add Task</button>
    </div>
    @if (_allTasks == null)
    {
        <span>Loading...</span>
    }
    else
    {
        <table>
            <thead>
            <tr>
                <th>Task</th>
                <th>Time spent</th>
                <th>Completed</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var task in _allTasks.Items)
            {
                <tr>
                    <td>@task.Name</td>
                    <td>@task.TimeSpent</td>
                    <td>
                        <input type="checkbox" @value="@task.IsCompleted"/>
                    </td>
                    <td>
                        <button @onclick="(async () => await DeleteTask(task))">Delete</button>
                    </td>
                </tr>
            }
            </tbody>
        </table>
        <Pager Count="@_allTasks.AllItemsCount" PageSize="@_pageSize"
               OnPageChange="(async page => await OnPageChange(page))"
               OnPageSizeChange="(async size => await OnPageSizeChange(size))" />
    }
</div>

@code
{
    private TaskDto _newTask = new TaskDto();
    private PagedList<TaskDto> _allTasks;
    private int _currentPage = 1;
    private int _pageSize = 5;

    private ITaskService TaskService => (ITaskService) ScopedServices.GetService(typeof(ITaskService));

    protected override async Task OnInitializedAsync()
    {
        await LoadCurrentPageTasks();
    }

    private Filter CreateFilter() => new Filter((_currentPage - 1) * _pageSize, _pageSize);
    private async Task LoadCurrentPageTasks() => _allTasks = await TaskService.GetTasksAsync(CreateFilter());

    private async Task AddTask()
    {
        _newTask.TimeSpent = TimeSpan.FromHours(new Random().Next(1, 5));
        var createdTask = await TaskService.AddTaskAsync(_newTask);
        _newTask = new TaskDto();
        await LoadCurrentPageTasks();
    }

    private async Task DeleteTask(TaskDto task)
    {
        Console.WriteLine($"Delete task: {task.Id}");
        await TaskService.DeleteTaskAsync(task.Id);
        await LoadCurrentPageTasks();
    }

    private async Task UpdateTask(TaskDto task)
    {
        TaskDto updated = await TaskService.UpdateTaskAsync(task);
        await LoadCurrentPageTasks();
    }

    private async Task OnPageChange(int page)
    {
        _currentPage = page;
        await LoadCurrentPageTasks();
    }

    private async Task OnPageSizeChange(int size)
    {
        _pageSize = size;
        await LoadCurrentPageTasks();
    }
}